
.sidebar {
    /*margin-top: 5px;  Adjust the margin value as needed */

    /*position: fixed;*/
    /*top: 0;*/
    left: 0;
    width: 350px; /* Adjust the width as needed */
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
}
.semester-link {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    cursor: pointer;
}
.content {
    height: 100vh;


    /*margin-left: 320px;  Adjust the margin to accommodate the wider sidebar */
    /*padding: 20px;*/
}

.active {
    background-color: #007bff;
    color: white;
}